# ignore
node_modules
logs/*
data/emojis
.vscode
.directory
to-do.txt
package-lock.json
config.json
.sqlite
.sqlite-wal
.sqlite-shm
data/db.sqlite
data/db.sqlite-shm
data/db.sqlite-wal

# do not ignore
!.gitkeep
data/db.sqlite-shm
